@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<br>
<!-- <h2>Filter Results</h2> -->
<!--
<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 160 }' style="color: red;  width: 900px">
	<!-- <div class="grid" style="color: red;  width: 900px"> -->
	<!-- <div class="grid-item">Clinic finder</div>
	<div class="grid-item">TVPS</div>
	<div class="grid-item grid-item--width2">Emergency contraception</div>
	<div class="grid-item">BPAS</div>
	<div class="grid-item">PEP</div>
	<div class="grid-item">STI info</div>
	<div class="grid-item grid-item--width2">Contraception page</div>
  <div class="grid-item grid-item--width2">Pharmacy page of out of hours emergency contraception</div>
  <div class="grid-item">PEP and Prep</div>
	<div class="grid-item">Age and location dependent</div>
</div> -->

<!-- <div id="filteredResults"  class="filterResults">
	<div class="section1" data-result="sti, checkup, hiv"><h3><a href="#">Clinic finder</a></h3><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt nisi nec felis dictum faucibus. Donec sodales nisl in justo tincidunt facilisis. Ut elementum dui vitae diam pharetra, bibendum gravida turpis consectetur.</span></div>
	<div class="section2" data-result="hiv"><h3><a href="#">TVPS</a></h3><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt nisi nec felis dictum faucibus. Donec sodales nisl in justo tincidunt facilisis. Ut elementum dui vitae diam pharetra, bibendum gravida turpis consectetur.</span></div>
	<div class="section3" data-result="unprotected"><h3><a href="#">Emergency contraception</a></h3><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt nisi nec felis dictum faucibus. Donec sodales nisl in justo tincidunt facilisis. Ut elementum dui vitae diam pharetra, bibendum gravida turpis consectetur.</span></div>
	<div class="section1" data-result="unprotected"><h3><a href="#">BPAS</a></h3><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt nisi nec felis dictum faucibus. Donec sodales nisl in justo tincidunt facilisis. Ut elementum dui vitae diam pharetra, bibendum gravida turpis consectetur.</span></div>
	<div class="section2" data-result="unprotected"><h3><a href="#">PEP</a></h3><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt nisi nec felis dictum faucibus. Donec sodales nisl in justo tincidunt facilisis. Ut elementum dui vitae diam pharetra, bibendum gravida turpis consectetur.</span></div>
	<div class="section3" data-result="sti, unprotected, hiv"><h3><a href="#">STI info</a></h3><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt nisi nec felis dictum faucibus. Donec sodales nisl in justo tincidunt facilisis. Ut elementum dui vitae diam pharetra, bibendum gravida turpis consectetur.</span></div>
	<div class="section1" data-result="contraception"><h3><a href="#">Contraception page</a></h3><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt nisi nec felis dictum faucibus. Donec sodales nisl in justo tincidunt facilisis. Ut elementum dui vitae diam pharetra, bibendum gravida turpis consectetur.</span></div>
	<div class="section2" data-result="contraception"><h3><a href="#">Pharmacy page of out of hours emergency contraception</a></h3><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt nisi nec felis dictum faucibus. Donec sodales nisl in justo tincidunt facilisis. Ut elementum dui vitae diam pharetra, bibendum gravida turpis consectetur.</span></div>
	<div class="section3" data-result="hiv"><h3><a href="#">PEP and Prep</a></h3><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt nisi nec felis dictum faucibus. Donec sodales nisl in justo tincidunt facilisis. Ut elementum dui vitae diam pharetra, bibendum gravida turpis consectetur.</span></div>
	<div class="section4" data-result="kits"><h3><a href="#">Age and location dependent – will need to be fine tuned</a></h3><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt nisi nec felis dictum faucibus. Donec sodales nisl in justo tincidunt facilisis. Ut elementum dui vitae diam pharetra, bibendum gravida turpis consectetur.</span></div> -->
<!-- </div> -->
