@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

    <header>
      <!-- <img class="dontpassLogo" src="/images/header-image-large2.png"  alt="don't pass it on logo"> -->
      <div class="container no-padding">
        <div class="row main-title"><!-- rename this class as 'main-title-temp' to return to include a temporary header image. Classes are defined in 'bshstyles-md' & 'bshstyles-sm' (around lines 60-70) -->
         <div class="col-xs-12 col-sm-12 logoRow">
          @*<h1 class="main-heading">Safe Sex Berkshire</h1>*@
			<div class="col-lg-4" style="float:left;">
			  <a href="/home" class="nhsLogoLink"><img class="nhs-logo-lg" src="/media/1068/nhs-logo-left-aligned-2x.png" alt="Berkshire Sexual Health Services - NHS Logo"/></a>
      		</div>
			<div class="col-lg-4">
			  <a href="/home" class="nhsLogoLink"><img class="nhs-logo-lg--white" src="/media/1069/nhs-logo-left-aligned-white-2x.png" alt="Berkshire Sexual Health Services - NHS Logo"/></a>
      		</div>
    	    <img class="ss-logo-sm ss-logo " src="/images/ss-logo.png" alt="Safe Sex Bekrshire Logo"/>
            <!-- visible-xs-block removed frome above -->
    		<img class="ss-logo visible-sm-block visible-md-block visible-lg-block" src="/images/ss-logo.png" alt="Safe Sex Berkshire Logo"/>
            <img class="ss-logo-horiz" src="/images/ss-logo3-horizontal_lrg.png" alt="Berkshire Sexual Health Logo"/>
         </div>

          @*<div class="col-lg-12 hidden-lg">
          <img class="nhs-logo" src="/images/nhs-logo-bsh.png">
        </div>*@

          <div class="row hide-tab">
            <div class="col-xs-12 no-padding altfunc">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="header-top">
                			<div class="emergency"><a href="/help-support/emergency"><svg class="icon-header-siren"><use xlink:href="#icon-siren"></use></svg>Emergency</a></div>
                 			<div class="hidepage"><a href="http://www.google.com"><svg class="icon-header-eye"><use xlink:href="#icon-eye-crossed"></use></svg>Hide</a></div>
           			 	</div>
					</div>
					
					<div class="col-xs-8 col-sm-6">
						<div class="search-sml" >
							 <script>
							   (function() {
								 var cx = '016077691381142539426:fm76afncfim';
								 var gcse = document.createElement('script');
								 gcse.type = 'text/javascript';
								 gcse.async = true;
								 gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
									 '//cse.google.com/cse.js?cx=' + cx;
								 var s = document.getElementsByTagName('script')[0];
								 s.parentNode.insertBefore(gcse, s);
							   })();
							 </script>
							 <gcse:searchbox-only resultsUrl="/search-results/"></gcse:searchbox-only>
						</div>
					</div>
				</div>
			</div>
         </div>
       </div>
      </div>

	@*<div class="visible-xs-block">
			<img class="header-img-sml" src="/images/header-image-sml.png">
		</div>*@



	@*	<div class="hidden-xs">
			<img class="header-img-lrg" src="/images/header-image-large2.png">
		</div>*@


    @*<div class="container">
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 col-sm-push-6 visible-lg-block">
  					<img class="nhs-logo" src="/images/nhs-logo-bsh.png">
  				</div>
       </div>
     </div>*@
					@{ Html.RenderPartial("navMain"); }


</header>
