@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
		<symbol id="icon-survey" width="39" height="48" viewBox="0 0 39 48">
        <title>surveyIcon</title>
        <defs><path id="a" d="M1 7h40v35H1z"/></defs>
        <g fill="none" fill-rule="evenodd"><path
            d="M28.51 42.912l-15.861 4.25c-1.154.309-2.327-.318-2.616-1.396L.324 9.534C.035 8.455.738 7.326 1.892 7.017L27.148.249c1.154-.309 2.327.318 2.616 1.396l8.168 30.485a7.921 7.921 0 0 1-1.428 6.987.692.692 0 1 1-1.09-.854 6.543 6.543 0 0 0 1.18-5.774L28.426 2.004c-.092-.341-.504-.528-.92-.416L2.25 8.355c-.415.111-.679.479-.587.82l9.708 36.232c.091.341.504.528.919.417l15.861-4.25c1.519-.407 2.463-1.826 2.104-3.164l-.83-3.1c-.172-.642.233-1.312.905-1.492l3.843-1.03a.693.693 0 0 1 .359 1.339l-3.723.997.784 2.927c.556 2.075-.827 4.256-3.083 4.86z"
            fill="#F2EDDC"/><path
            fill="#F2EDDC"
            d="M9.993 24.208l6.691-1.793-.358-1.338-6.691 1.793zM10.71 26.885l4.015-1.076-.359-1.338-4.014 1.075zM27.758 25.208l-5.216 1.397a1.804 1.804 0 0 1-2.208-1.274l-1.224-4.569a1.804 1.804 0 0 1 1.274-2.207l2.609-.699a.693.693 0 0 1 .358 1.338l-2.608.699a.417.417 0 0 0-.295.51l1.224 4.57c.06.221.289.354.511.294l5.216-1.398a.417.417 0 0 0 .295-.51l-.525-1.96a.692.692 0 1 1 1.338-.36L29.032 23c.257.96-.315 1.95-1.274 2.208"/><path d="M24.761 23.12a.696.696 0 0 1-.526-.069l-2.296-1.327.693-1.2 1.696.98 2.94-5.09 1.199.693-3.284 5.69a.696.696 0 0 1-.422.323" fill="#F2EDDC"/></g>
  		</symbol>
		
		<symbol id="icon-fax-machine" viewBox="0 0 1024 1024">
			<title>fax-machine</title>
			<path class="path1" d="M921.6 870.4h-204.8v-716.8h204.8c56.544 0 102.4 45.856 102.4 102.4v512c0 56.544-45.856 102.4-102.4 102.4zM768 819.2h153.6c28.288 0 51.2-22.912 51.2-51.2v-512c0-28.288-22.912-51.2-51.2-51.2h-153.6v614.4z"></path>
			<path class="path2" d="M768 870.4h-204.8v-51.2h153.6v-665.6c0-28.288-22.912-51.2-51.2-51.2h-563.2c-28.288 0-51.2 22.912-51.2 51.2v614.4c0 28.288 22.912 51.2 51.2 51.2h51.2v51.2h-51.2c-56.544 0-102.4-45.856-102.4-102.4v-614.4c0-56.544 45.856-102.4 102.4-102.4h563.2c56.544 0 102.4 45.856 102.4 102.4v716.8z"></path>
			<path class="path3" d="M307.2 409.6h51.2v51.2h-51.2v-51.2z"></path>
			<path class="path4" d="M307.2 512h51.2v50.176h-51.2v-50.176z"></path>
			<path class="path5" d="M409.6 409.6h51.2v50.176h-51.2v-50.176z"></path>
			<path class="path6" d="M409.6 512h51.2v50.176h-51.2v-50.176z"></path>
			<path class="path7" d="M563.2 1024h-409.6v-303.104c0-30.528 24.768-55.296 55.296-55.296h299.008c30.528 0 55.296 24.768 55.296 55.296v303.104zM204.8 972.8h307.2v-251.904c0-2.272-1.824-4.096-4.096-4.096 0 0 0 0 0 0h-299.008c0 0 0 0 0 0-2.272 0-4.096 1.824-4.096 4.096 0 0 0 0 0 0v251.904z"></path>
			<path class="path8" d="M256 870.4h204.8v51.2h-204.8v-51.2z"></path>
			<path class="path9" d="M307.2 768h153.6v51.2h-153.6v-51.2z"></path>
			<path class="path10" d="M419.328 358.4h-173.056c-22.912 0-41.472-18.56-41.472-41.472v-70.656c0-22.912 18.56-41.472 41.472-41.472h173.056c0 0 0 0 0 0 22.912 0 41.472 18.56 41.472 41.472v70.656c0 22.912-18.56 41.472-41.472 41.472zM256 307.2h153.6v-51.2h-153.6v51.2z"></path>
			<path class="path11" d="M896 716.8h-76.8v-51.2h51.2v-51.2h51.2v76.8c0 14.144-11.456 25.6-25.6 25.6z"></path>
		</symbol>
        <symbol id="icon-home3" viewBox="0 0 1024 1024">
            <title>home3</title>
            <path class="path1" d="M25.6 614.4c-6.144 0-12.288-2.202-17.152-6.605-10.496-9.472-11.315-25.651-1.792-36.147l452.045-499.61c14.029-15.514 32.973-24.064 53.35-24.064 0 0 0 0 0 0 20.326 0 39.27 8.55 53.35 24.064l452.045 499.61c9.472 10.496 8.653 26.675-1.792 36.147s-26.675 8.653-36.147-1.792l-452.045-499.61c-4.198-4.659-9.677-7.219-15.36-7.219s-11.162 2.56-15.36 7.219l-452.045 499.61c-5.069 5.581-12.032 8.448-18.995 8.448z"></path>
            <path class="path2" d="M793.6 1024h-204.8c-14.131 0-25.6-11.469-25.6-25.6v-179.2h-102.4v179.2c0 14.131-11.469 25.6-25.6 25.6h-204.8c-42.342 0-76.8-34.458-76.8-76.8v-409.6c0-14.131 11.469-25.6 25.6-25.6s25.6 11.469 25.6 25.6v409.6c0 14.131 11.469 25.6 25.6 25.6h179.2v-179.2c0-14.131 11.469-25.6 25.6-25.6h153.6c14.131 0 25.6 11.469 25.6 25.6v179.2h179.2c14.131 0 25.6-11.469 25.6-25.6v-409.6c0-14.131 11.469-25.6 25.6-25.6s25.6 11.469 25.6 25.6v409.6c0 42.342-34.458 76.8-76.8 76.8z"></path>
        </symbol>
        <symbol id="icon-heart" viewBox="0 0 1024 1024">
            <title>heart</title>
            <path class="path1" d="M486.4 972.8c-4.301 0-8.55-1.075-12.442-3.226-4.813-2.662-119.091-66.611-235.11-171.366-68.659-61.952-123.443-125.338-162.97-188.416-50.381-80.435-75.878-160.717-75.878-238.592 0-148.224 120.576-268.8 268.8-268.8 50.176 0 103.475 18.79 150.067 52.941 27.238 19.968 50.432 44.032 67.533 69.581 17.101-25.549 40.294-49.613 67.533-69.581 46.592-34.15 99.891-52.941 150.067-52.941 148.224 0 268.8 120.576 268.8 268.8 0 77.875-25.549 158.157-75.878 238.592-39.475 63.078-94.31 126.464-162.918 188.416-116.019 104.755-230.298 168.704-235.11 171.366-3.891 2.15-8.141 3.226-12.442 3.226zM268.8 153.6c-119.962 0-217.6 97.638-217.6 217.6 0 155.648 120.32 297.062 221.235 388.352 90.112 81.51 181.453 138.65 213.965 158.054 32.512-19.405 123.853-76.544 213.965-158.054 100.915-91.238 221.235-232.704 221.235-388.352 0-119.962-97.638-217.6-217.6-217.6-87.194 0-171.878 71.731-193.331 136.090-3.482 10.445-13.261 17.51-24.269 17.51s-20.787-7.066-24.269-17.51c-21.453-64.358-106.138-136.090-193.331-136.090z"></path>
        </symbol>
        <symbol id="icon-eye-crossed" viewBox="0 0 1024 1024">
            <title>eye-crossed</title>
            <path class="path1" d="M1017.446 520.499c-2.406-2.714-60.518-66.816-151.347-131.686-30.72-21.965-61.542-41.318-92.211-58.061l88.32-81.51c10.394-9.574 11.059-25.805 1.434-36.198s-25.805-11.059-36.198-1.434l-102.554 94.669c-6.349-2.867-12.698-5.632-19.046-8.294-66.816-27.853-132.045-41.984-193.843-41.984s-127.027 14.131-193.843 41.984c-52.736 21.965-106.65 52.531-160.256 90.778-90.829 64.87-148.941 129.024-151.347 131.686-8.755 9.728-8.755 24.525 0 34.253 2.406 2.714 60.518 66.816 151.347 131.686 30.72 21.965 61.542 41.318 92.211 58.061l-88.32 81.51c-10.394 9.574-11.059 25.805-1.434 36.198 5.069 5.478 11.93 8.243 18.842 8.243 6.195 0 12.442-2.253 17.357-6.81l102.554-94.669c6.349 2.867 12.698 5.632 19.046 8.294 66.816 27.853 132.045 41.984 193.843 41.984s127.027-14.131 193.843-41.984c52.736-21.965 106.65-52.531 160.256-90.778 90.829-64.87 148.941-129.024 151.347-131.686 8.755-9.728 8.755-24.525 0-34.253zM716.8 486.4c0 112.947-91.853 204.8-204.8 204.8-36.403 0-70.554-9.574-100.198-26.266l286.31-264.294c12.186 26.47 18.739 55.603 18.739 85.709zM643.789 329.626c9.779 8.243 18.637 17.254 26.624 26.88l-300.39 277.299c-38.707-37.274-62.822-89.6-62.822-147.456 0-60.826 26.573-117.658 73.011-156.774 42.086-13.722 86.579-22.426 131.789-22.426s89.702 8.704 131.789 22.426zM188.57 645.427c-59.238-42.189-104.55-84.89-127.437-107.827 22.886-22.938 68.198-65.587 127.437-107.827 27.136-19.354 59.187-39.936 94.72-58.624-17.766 35.226-27.29 74.496-27.29 115.251 0 71.219 29.235 135.731 76.339 182.17l-42.24 39.014c-38.246-19.61-72.653-41.626-101.53-62.157zM835.43 645.427c-78.49 55.91-198.298 122.573-323.43 122.573-59.699 0-118.221-15.206-171.622-37.171l32.256-29.798c40.141 26.112 87.962 41.37 139.315 41.37 141.158 0 256-114.842 256-256 0-40.755-9.523-80.026-27.29-115.251 35.533 18.688 67.584 39.322 94.72 58.624 59.238 42.189 104.55 84.89 127.437 107.827-22.886 22.938-68.198 65.587-127.437 107.827z"></path>
        </symbol>
        <symbol id="icon-map" viewBox="0 0 1024 1024">
            <title>map</title>
            <path class="path1" d="M742.4 358.4c-42.342 0-76.8-34.458-76.8-76.8s34.458-76.8 76.8-76.8 76.8 34.458 76.8 76.8-34.458 76.8-76.8 76.8zM742.4 256c-14.131 0-25.6 11.469-25.6 25.6s11.469 25.6 25.6 25.6 25.6-11.469 25.6-25.6-11.469-25.6-25.6-25.6z"></path>
            <path class="path2" d="M742.4 665.6c-7.475 0-14.592-3.277-19.456-8.96-1.638-1.894-40.448-47.411-79.565-115.968-53.197-93.082-80.179-180.275-80.179-259.123 0-98.816 80.384-179.2 179.2-179.2s179.2 80.384 179.2 179.2c0 78.848-26.982 165.99-80.179 259.123-39.168 68.506-77.978 114.074-79.565 115.968-4.864 5.683-11.981 8.96-19.456 8.96zM742.4 153.6c-70.554 0-128 57.446-128 128 0 130.202 87.91 263.117 128 316.928 40.038-53.862 128-186.931 128-316.928 0-70.554-57.446-128-128-128z"></path>
            <path class="path3" d="M947.2 0h-870.4c-42.342 0-76.8 34.458-76.8 76.8v870.4c0 42.342 34.458 76.8 76.8 76.8h870.4c42.342 0 76.8-34.458 76.8-76.8v-870.4c0-42.342-34.458-76.8-76.8-76.8zM332.8 921.6c-14.131 0-25.6 11.469-25.6 25.6v25.6h-102.4v-921.6h102.4v25.6c0 14.131 11.469 25.6 25.6 25.6s25.6-11.469 25.6-25.6v-25.6h102.4v921.6h-102.4v-25.6c0-14.131-11.469-25.6-25.6-25.6zM153.6 819.2h-102.4v-51.2h102.4v51.2zM512 768h460.8v51.2h-460.8v-51.2zM972.8 76.8v640h-460.8v-665.6h435.2c14.131 0 25.6 11.469 25.6 25.6zM76.8 51.2h76.8v665.6h-102.4v-640c0-14.131 11.469-25.6 25.6-25.6zM51.2 947.2v-76.8h102.4v102.4h-76.8c-14.131 0-25.6-11.469-25.6-25.6zM947.2 972.8h-435.2v-102.4h460.8v76.8c0 14.131-11.469 25.6-25.6 25.6z"></path>
            <path class="path4" d="M332.8 256c14.131 0 25.6-11.469 25.6-25.6v-51.2c0-14.131-11.469-25.6-25.6-25.6s-25.6 11.469-25.6 25.6v51.2c0 14.131 11.469 25.6 25.6 25.6z"></path>
            <path class="path5" d="M332.8 409.6c14.131 0 25.6-11.469 25.6-25.6v-51.2c0-14.131-11.469-25.6-25.6-25.6s-25.6 11.469-25.6 25.6v51.2c0 14.131 11.469 25.6 25.6 25.6z"></path>
            <path class="path6" d="M332.8 563.2c14.131 0 25.6-11.469 25.6-25.6v-51.2c0-14.131-11.469-25.6-25.6-25.6s-25.6 11.469-25.6 25.6v51.2c0 14.131 11.469 25.6 25.6 25.6z"></path>
            <path class="path7" d="M332.8 716.8c14.131 0 25.6-11.469 25.6-25.6v-51.2c0-14.131-11.469-25.6-25.6-25.6s-25.6 11.469-25.6 25.6v51.2c0 14.131 11.469 25.6 25.6 25.6z"></path>
            <path class="path8" d="M358.4 793.6c0-14.131-11.469-25.6-25.6-25.6s-25.6 11.469-25.6 25.6v51.2c0 14.131 11.469 25.6 25.6 25.6s25.6-11.469 25.6-25.6v-51.2z"></path>
        </symbol>
        <symbol id="icon-road-sign" viewBox="0 0 1024 1024">
            <title>road-sign</title>
            <path class="path1" d="M961.382 260.301l-153.6-102.4c-4.198-2.816-9.165-4.301-14.182-4.301h-230.4v-76.8c0-42.342-34.458-76.8-76.8-76.8h-102.4c-42.342 0-76.8 34.458-76.8 76.8v76.8h-281.6c-14.131 0-25.6 11.469-25.6 25.6v204.8c0 14.131 11.469 25.6 25.6 25.6h281.6v51.2h-76.8c-5.069 0-9.984 1.485-14.182 4.301l-153.6 102.4c-7.117 4.762-11.418 12.749-11.418 21.299s4.301 16.538 11.418 21.299l153.6 102.4c4.198 2.816 9.165 4.301 14.182 4.301h76.8v281.6c0 14.131 11.469 25.6 25.6 25.6h204.8c14.131 0 25.6-11.469 25.6-25.6v-281.6h179.2c14.131 0 25.6-11.469 25.6-25.6v-204.8c0-14.131-11.469-25.6-25.6-25.6h-179.2v-51.2h230.4c5.069 0 9.984-1.485 14.182-4.301l153.6-102.4c7.117-4.762 11.418-12.749 11.418-21.299s-4.301-16.538-11.418-21.299zM358.4 76.8c0-14.131 11.469-25.6 25.6-25.6h102.4c14.131 0 25.6 11.469 25.6 25.6v76.8h-153.6v-76.8zM512 972.8h-153.6v-256h153.6v256zM716.8 665.6h-478.669l-115.2-76.8 115.2-76.8h478.669v153.6zM512 460.8h-153.6v-51.2h153.6v51.2zM785.869 358.4h-734.669v-153.6h734.669l115.2 76.8-115.2 76.8z"></path>
        </symbol>
        <symbol id="icon-siren" viewBox="0 0 1024 1024">
            <title>siren</title>
            <path class="path1" d="M486.4 358.4c-14.131 0-25.6-11.469-25.6-25.6v-153.6c0-14.131 11.469-25.6 25.6-25.6s25.6 11.469 25.6 25.6v153.6c0 14.131-11.469 25.6-25.6 25.6z"></path>
            <path class="path2" d="M947.2 665.6h-102.4c-14.131 0-25.6-11.469-25.6-25.6s11.469-25.6 25.6-25.6h102.4c14.131 0 25.6 11.469 25.6 25.6s-11.469 25.6-25.6 25.6z"></path>
            <path class="path3" d="M128 665.6h-102.4c-14.131 0-25.6-11.469-25.6-25.6s11.469-25.6 25.6-25.6h102.4c14.131 0 25.6 11.469 25.6 25.6s-11.469 25.6-25.6 25.6z"></path>
            <path class="path4" d="M768 772.403v-81.203c0-155.29-126.31-281.6-281.6-281.6s-281.6 126.31-281.6 281.6v81.203c-29.798 10.547-51.2 39.014-51.2 72.397 0 42.342 34.458 76.8 76.8 76.8h512c42.342 0 76.8-34.458 76.8-76.8 0-33.382-21.402-61.85-51.2-72.397zM486.4 460.8c127.027 0 230.4 103.373 230.4 230.4v76.8h-460.8v-76.8c0-127.027 103.373-230.4 230.4-230.4zM742.4 870.4h-512c-14.131 0-25.6-11.469-25.6-25.6s11.469-25.6 25.6-25.6h512c14.131 0 25.6 11.469 25.6 25.6s-11.469 25.6-25.6 25.6z"></path>
            <path class="path5" d="M742.4 435.2c-6.554 0-13.107-2.509-18.125-7.475-9.984-9.984-9.984-26.214 0-36.198l102.4-102.4c9.984-9.984 26.214-9.984 36.198 0s9.984 26.214 0 36.198l-102.4 102.4c-5.018 5.018-11.571 7.475-18.125 7.475z"></path>
            <path class="path6" d="M230.4 435.2c-6.554 0-13.107-2.509-18.125-7.475l-102.4-102.4c-9.984-9.984-9.984-26.214 0-36.198s26.214-9.984 36.198 0l102.4 102.4c9.984 9.984 9.984 26.214 0 36.198-5.018 5.018-11.571 7.475-18.125 7.475z"></path>
        </symbol>
        <symbol id="icon-accessibility" viewBox="0 0 1024 1024">
            <title>accessibility</title>
            <path class="path1" d="M486.4 409.6c-70.554 0-128-57.446-128-128s57.446-128 128-128 128 57.446 128 128-57.446 128-128 128zM486.4 204.8c-42.342 0-76.8 34.458-76.8 76.8s34.458 76.8 76.8 76.8c42.342 0 76.8-34.458 76.8-76.8s-34.458-76.8-76.8-76.8z"></path>
            <path class="path2" d="M716.032 429.005c-3.43-13.722-17.306-22.067-31.027-18.637l-198.605 49.664-198.605-49.664c-13.722-3.43-27.597 4.915-31.027 18.637s4.915 27.597 18.637 31.027l185.395 46.336v125.082l-148.48 197.99c-8.499 11.315-6.195 27.341 5.12 35.84s27.341 6.195 35.84-5.12l133.12-177.51 133.12 177.51c5.018 6.707 12.698 10.24 20.48 10.24 5.325 0 10.752-1.69 15.36-5.12 11.315-8.499 13.619-24.525 5.12-35.84l-148.48-197.99v-125.082l185.395-46.336c13.722-3.43 22.067-17.306 18.637-31.027z"></path>
            <path class="path3" d="M486.4 1024c-129.946 0-252.058-50.586-343.962-142.438s-142.438-214.016-142.438-343.91c0-129.946 50.586-252.058 142.438-343.962s214.016-142.49 343.962-142.49c129.946 0 252.058 50.586 343.962 142.49s142.438 214.016 142.438 343.962-50.586 252.058-142.438 343.91c-91.853 91.853-214.016 142.438-343.962 142.438zM486.4 102.4c-239.974 0-435.2 195.226-435.2 435.2s195.226 435.2 435.2 435.2 435.2-195.226 435.2-435.2-195.226-435.2-435.2-435.2z"></path>
        </symbol>
        <symbol id="icon-magnifier" viewBox="0 0 1024 1024">
            <title>magnifier</title>
            <path class="path1" d="M966.093 981.094l-304.282-331.981c68.557-71.731 106.24-165.53 106.24-265.114 0-102.554-39.936-199.014-112.486-271.514s-168.96-112.486-271.514-112.486-199.014 39.936-271.514 112.486-112.486 168.96-112.486 271.514 39.936 199.014 112.486 271.514 168.96 112.486 271.514 112.486c88.371 0 172.134-29.645 240.026-84.224l304.282 331.93c5.069 5.53 11.93 8.294 18.893 8.294 6.195 0 12.39-2.202 17.306-6.707 10.445-9.574 11.11-25.754 1.587-36.147zM51.2 384c0-183.501 149.299-332.8 332.8-332.8s332.8 149.299 332.8 332.8-149.299 332.8-332.8 332.8-332.8-149.299-332.8-332.8z"></path>
        </symbol>
        <symbol id="icon-cross" viewBox="0 0 1024 1024">
            <title>cross</title>
            <path class="path1" d="M548.198 537.6l289.075-289.075c9.984-9.984 9.984-26.214 0-36.198s-26.214-9.984-36.198 0l-289.075 289.075-289.075-289.075c-9.984-9.984-26.214-9.984-36.198 0s-9.984 26.214 0 36.198l289.075 289.075-289.075 289.075c-9.984 9.984-9.984 26.214 0 36.198 5.018 5.018 11.571 7.475 18.125 7.475s13.107-2.509 18.125-7.475l289.075-289.075 289.075 289.075c5.018 5.018 11.571 7.475 18.125 7.475s13.107-2.509 18.125-7.475c9.984-9.984 9.984-26.214 0-36.198l-289.075-289.075z"></path>
        </symbol>
        <symbol id="icon-check" viewBox="0 0 1024 1024">
            <title>check</title>
            <path class="path1" d="M281.6 896c-6.554 0-13.107-2.509-18.125-7.475l-256-256c-9.984-9.984-9.984-26.214 0-36.198s26.214-9.984 36.198 0l237.875 237.875 698.675-698.675c9.984-9.984 26.214-9.984 36.198 0s9.984 26.214 0 36.198l-716.8 716.8c-5.018 5.018-11.571 7.475-18.125 7.475z"></path>
        </symbol>
        <symbol id="icon-chevron-up" viewBox="0 0 1024 1024">
            <title>chevron-up</title>
            <path class="path1" d="M0 768c0 6.554 2.509 13.107 7.475 18.125 9.984 9.984 26.214 9.984 36.198 0l442.675-442.675 442.675 442.675c9.984 9.984 26.214 9.984 36.198 0s9.984-26.214 0-36.198l-460.8-460.8c-9.984-9.984-26.214-9.984-36.198 0l-460.8 460.8c-5.018 5.018-7.475 11.571-7.475 18.125z"></path>
        </symbol>
        <symbol id="icon-chevron-down" viewBox="0 0 1024 1024">
            <title>chevron-down</title>
            <path class="path1" d="M0 307.2c0-6.554 2.509-13.107 7.475-18.125 9.984-9.984 26.214-9.984 36.198 0l442.675 442.675 442.675-442.675c9.984-9.984 26.214-9.984 36.198 0s9.984 26.214 0 36.198l-460.8 460.8c-9.984 9.984-26.214 9.984-36.198 0l-460.8-460.8c-5.018-5.018-7.475-11.571-7.475-18.125z"></path>
        </symbol>
        <symbol id="icon-chevron-left" viewBox="0 0 1024 1024">
            <title>chevron-left</title>
            <path class="path1" d="M716.8 1024c6.554 0 13.107-2.509 18.125-7.475 9.984-9.984 9.984-26.214 0-36.198l-442.675-442.675 442.675-442.675c9.984-9.984 9.984-26.214 0-36.198s-26.214-9.984-36.198 0l-460.8 460.8c-9.984 9.984-9.984 26.214 0 36.198l460.8 460.8c5.018 5.018 11.571 7.475 18.125 7.475z"></path>
        </symbol>
        <symbol id="icon-chevron-right" viewBox="0 0 1024 1024">
            <title>chevron-right</title>
            <path class="path1" d="M256 1024c-6.554 0-13.107-2.509-18.125-7.475-9.984-9.984-9.984-26.214 0-36.198l442.675-442.675-442.675-442.675c-9.984-9.984-9.984-26.214 0-36.198s26.214-9.984 36.198 0l460.8 460.8c9.984 9.984 9.984 26.214 0 36.198l-460.8 460.8c-5.018 5.018-11.571 7.475-18.125 7.475z"></path>
        </symbol>
        <symbol id="icon-map-marker" viewBox="0 0 1024 1024">
           <title>map-marker</title>
            <path class="path1" d="M512 1024c-7.834 0-15.258-3.584-20.122-9.779-2.918-3.738-72.602-92.877-143.206-224.512-41.574-77.466-74.752-153.549-98.56-226.099-30.054-91.494-45.261-177.766-45.261-256.41 0-169.37 137.83-307.2 307.2-307.2s307.2 137.83 307.2 307.2c0 78.643-15.258 164.864-45.261 256.41-23.808 72.55-56.986 148.634-98.56 226.099-70.656 131.635-140.288 220.774-143.206 224.512-4.864 6.195-12.288 9.779-20.122 9.779zM512 51.2c-141.158 0-256 114.842-256 256 0 166.605 74.906 341.197 137.779 458.291 46.182 86.067 92.621 154.317 118.221 189.952 25.702-35.789 72.448-104.448 118.682-190.771 62.618-116.89 137.318-291.174 137.318-457.472 0-141.158-114.842-256-256-256z"></path>
            <path class="path2" d="M512 460.8c-84.685 0-153.6-68.915-153.6-153.6s68.915-153.6 153.6-153.6 153.6 68.915 153.6 153.6-68.915 153.6-153.6 153.6zM512 204.8c-56.474 0-102.4 45.926-102.4 102.4s45.926 102.4 102.4 102.4c56.474 0 102.4-45.926 102.4-102.4s-45.926-102.4-102.4-102.4z"></path>
       </symbol>
       <symbol id="icon-funnel" viewBox="0 0 1024 1024">
          <title>funnel</title>
         <path class="path1" d="M830.976 169.318c-20.275-13.722-48.589-25.805-84.122-35.942-69.939-19.968-162.406-30.976-260.454-30.976s-190.566 11.008-260.454 30.976c-35.533 10.138-63.795 22.221-84.122 35.942-32.614 22.016-39.424 45.363-39.424 61.082v25.6c0 21.914 16.435 58.010 32.717 82.381l250.419 375.603c12.851 19.251 24.115 56.474 24.115 79.616v153.6c0 8.858 4.608 17.101 12.134 21.76 4.096 2.56 8.755 3.84 13.466 3.84 3.891 0 7.834-0.922 11.469-2.714l102.4-51.2c8.653-4.352 14.131-13.21 14.131-22.886v-102.4c0-23.142 11.264-60.365 24.115-79.616l250.419-375.603c16.23-24.371 32.717-60.518 32.717-82.381v-25.6c0-15.718-6.861-39.066-39.424-61.082zM240.026 182.63c65.485-18.688 152.986-29.030 246.374-29.030s180.941 10.291 246.374 29.030c70.554 20.173 86.426 41.779 86.426 47.77s-15.872 27.648-86.426 47.77c-65.485 18.688-152.986 29.030-246.374 29.030s-180.941-10.291-246.374-29.030c-70.554-20.173-86.426-41.779-86.426-47.77s15.872-27.648 86.426-47.77zM544.717 685.619c-18.33 27.494-32.717 74.957-32.717 107.981v86.579l-51.2 25.6v-112.179c0-33.075-14.387-80.486-32.717-107.981l-249.856-374.784c14.029 5.99 29.952 11.571 47.718 16.589 69.939 19.968 162.406 30.976 260.454 30.976s190.566-11.008 260.454-30.976c17.715-5.069 33.69-10.598 47.718-16.64l-249.856 374.784z"></path>
       </symbol>
    </defs>
</svg>
